# Database
DB_URL=String
DB_USERNAME=String
DB_PASSWORD=String

# Redis
REDIS_HOST=String
REDIS_PORT=Number

# JWT
JWT_SECRET=String
JWT_ACCESS_TOKEN_EXPIRATION=Number
JWT_REFRESH_TOKEN_EXPIRATION=Number

# CORS
CORS_ALLOWED_ORIGINS=List<String>

# Feign
FEIGN_LOG_LEVEL=String

# SMS (Solapi)
COOL_SMS_KEY=String
COOL_SMS_SECRET=String
COOL_SMS_PHONENUMBER=String
SOLAPI_URL=String
SMS_MAX_SEND_COUNT=Number
SMS_VERIFY_CODE_TTL=Number
SMS_VERIFY_COUNT_TTL=Number
SMS_VERIFY_COUNT_KEY_PREFIX=String

# Google Sheets
GOOGLE_ACCOUNT_CREDENTIAL=String
GOOGLE_SHEET_ID=String
GOOGLE_ENROLLED_SHEET_PAGE=String
GOOGLE_OUT_OF_SCHOOL_SHEET_PAGE=String
GOOGLE_EXCEL_TEMPLATE_SHEET_ID=String
GOOGLE_EXCEL_SUMMARY_PAGE=String

# Slogan Submission Period
START_AT=LocalDateTime
END_AT=LocalDateTime
